header#header
  +link('Logo', 'index.html').logo
  nav
    ul
      li: +link('Home', 'index.html')
      li: +link('Layer', 'layer.html')
      li: +link('Sprite', 'sprite.html')
      li: +link('Typography', 'typography.html')
      li: +link('Sitemap', 'sitemap.html')
