form.form-1#form-1(name="form-1", method="post", action="#", data-validationform="true")
  fieldset
    legend Personal information:
    +form-group({label: 'Name <strong><sup>*</sup></strong>', type: 'text', name: 'full-name', placeholder: 'Input name', value: ''}, {id:'full-name', class: 'full-name', 'data-validation-required': "true", 'data-validation-required-message': 'Missing value'})
    +form-group({label: 'Job <strong><sup>*</sup></strong>', type: 'text', name: 'job', placeholder: 'Input job', value: ''}, {id:'job', class: 'job', 'data-validation-required': "true"})
    +form-group({type: 'submit', value: 'submit'}, {class: 'btn-submit'})