form.form-1#form-1(name="form-1", method="post", action="#", data-validationform="true")
  fieldset
    legend Personal information:
    +form-group({label: 'Required', type: 'text', name: 'full-name', placeholder: 'Input name', value: ''}, {id:'full-name', class: 'full-name', 'data-validation-required': "true", 'data-validation-required-message': '* This field is required'})
    +form-group({label: 'Email', type: 'text', name: 'input-email', placeholder: 'Input email', value: ''}, {'data-validation-email': "true", 'data-validation-email-message': "* Invalid email address"})
    +form-group({label: 'Phone', type: 'text', name: 'input-phone', placeholder: 'Phone', value: ''}, {'data-validation-phone': "true", 'data-validation-phone-message': "* Invalid phone number"})
    +form-group({label: 'Required, Email', type: 'text', name: 'input-email', placeholder: 'Input email', value: ''}, {'data-validation-email': "true", 'data-validation-email-message': "* Invalid email address", 'data-validation-required': "true", 'data-validation-required-message': "* This field is required"})
    +form-group({label: 'Number', type: 'text', name: 'input-number', placeholder: 'Number', value: ''}, {'data-validation-number': "true", 'data-validation-number-message': "* Invalid floating decimal number"})
    +form-group({type: 'submit', value: 'submit'}, {class: 'btn-submit'})